<!DOCTYPE  HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title> SpaM and NetForce </title>
        <meta charset = "UTF-8" />
        <meta name="author" content="NetForce"/>
        <meta name="description" content="Social Production Audiovisual Microblog"/>
    </head>
    <body>
       <h3><%= @error_message %></h3>
    </body>
</html>
